<div class="modal-header">
  <h3 class="modal-title">Order Details</h3>
  <button type="button" class="close rounded-pill" aria-label="close" (click)="close()"><i class="bx bx-x"></i></button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col-4">
          <label class="text-bold-600">IWO</label>
        </div>
        <div class="col-8 form-group">
          <input type="text" class="form-control" [value]="order.iwo" disabled/>
        </div>

        <div class="col-4">
          <label class="text-bold-600">Customer</label>
        </div>
        <div class="col-8 form-group">
          <input type="text" class="form-control" [value]="order.company" disabled />
        </div>

        <div class="col-4">
          <label class="text-bold-600">Delivery Date</label>
        </div>
        <div class="col-8 form-group">
          <input type="text" class="form-control" [value]="order.delivery_date | date: dateFormat" disabled />
        </div>

        <div class="col-4">
          <label class="text-bold-600">Quantity</label>
        </div>
        <div class="col-8 form-group">
          <input type="text" class="form-control" [value]="order.quantity" disabled/>
        </div>

        <div class="col-4">
          <label class="text-bold-600">Description</label>
        </div>
        <div class="col-8 form-group">
          <textarea class="form-control" [value]="order.description" rows="5" disabled></textarea>
        </div>

        <div class="col-4">
          <label class="text-bold-600">Status</label>
        </div>
        <div class="col-8 form-group">
          <span class="badge badge-xs" 
            [class.badge-light-primary]="order.status === 'in progress'"
            [class.badge-light-success]="order.status === 'completed'">
            {{ order.status | titlecase }}
          </span>
        </div>

        <div class="col-4">
          <label class="text-bold-600">Remarks</label>
        </div>
        <div class="col-8 form-group">
          <textarea class="form-control" [value]="order.remark" disabled></textarea>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="row">
        <div class="col-4">
          <label class="text-bold-600">Files</label>
        </div>
        <div class="col-8 form-group">
          <input *ngIf="order.files.length === 0" type="text" class="form-control" value="No Files" disabled />
          <!-- <a class="d-block" *ngFor="let file of order.files" 
            [routerLink]="['/pdf']"  
            [queryParams]="{ url: file.path }"
            target="_blank">
            <i class="bx bxs-file"></i>{{ file.name }}
          </a> -->
          <a class="d-block" *ngFor="let file of order.files" 
            href="javascript:void(0)" (click)="viewServerFile(file)">
            <i class="bx bxs-file"></i>{{ file.name }}
          </a>
        </div>
      </div>
      <table class="table table-sm table-hover table-bordered">
        <thead>
          <tr class="bg-secondary bg-light">
            <th>Process</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let process of workflow.processes; let i = index"
            class="process-row">
            <td>{{ process.name }}</td>
            <td class="text-white"
              [ngClass]="{
                'bg-danger': order[process.code] === 'Urgent',
                'bg-success': order[process.code] === 'Done',
                'bg-warning': order[process.code] === 'Pending',
                'bg-secondary': order[process.code] === 'None'
              }">
              {{ order[process.code] }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>