<!-- BEGIN: Content-->
<div class="content-wrapper">
  <div class="content-header row">
    <div class="content-header-left col-12 mb-2 mt-1">
      <div *ngIf="workflow" class="row breadcrumbs-top">
        <div class="col-12">
          <h5 class="content-header-title float-left pr-1 mb-0">{{ workflow.name }}</h5>
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb p-0 mb-0">
              <li class="breadcrumb-item">
                <a [routerLink]="['admin/dashboard']"><i class="bx bx-home-alt"></i></a>
              </li>
              <li class="breadcrumb-item">
                <a [routerLink]="['/admin/orders', workflow.id]">Orders</a>
              </li>
              <li class="breadcrumb-item active">
                <span>Edit Orders</span>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content-body">
    <!-- <shared-authorized-content 
      [permissions]="['view.orders', 'update.orders']" 
      [condition]="'or'">
    </shared-authorized-content> -->
    <div *ngIf="workflow" class="card">
      <div class="card-header">
        <div class="card-title">
          <label class="text-bold-600">Processes</label>
        </div>
      </div>
      <div class="card-content">
        <div class="card-body">
          <table class="table table-bordered table-processes">
            <thead>
              <tr>
                <td *ngFor="let process of workflow.processes; let i = index">{{ process.name }}</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td *ngFor="let process of workflow.processes; let i = index"
                  class="text-white"
                  [ngClass]="{
                    'bg-danger': orderVm[process.code] === 'Urgent',
                    'bg-success': orderVm[process.code] === 'Done',
                    'bg-warning': orderVm[process.code] === 'Pending',
                    'bg-secondary': orderVm[process.code] === 'None'
                  }">
                  {{ orderVm[process.code] }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <shared-alert></shared-alert>
              <form *ngIf="workflow" autocomplete="off" #form="ngForm" (submit)="onSubmit()">
                <fieldset [disabled]="isLoading || !('update' | ablePure: 'orders' | async)">
                  <div class="row">
                    <!-- iwo -->
                    <div class="col-md-6 form-group mb-50" [class.error]="(submitted || iwo.dirty) && iwo.errors">
                      <label class="text-bold-600" for="iwo">IWO</label>
                      <input type="text" class="form-control" 
                        #iwo="ngModel" 
                        [(ngModel)]="orderVm.iwo"
                        id="iwo" name="iwo" placeholder="IWO #"
                        orderIWOExists
                        [workflowId]="workflow.id"
                        [orderId]="orderVm.id"
                        required>
                      <div *ngIf="submitted || iwo.dirty" class="help-block">
                        <ul role="alert">
                          <li *ngIf="iwo.errors?.required" class="text-danger" role="alert">IWO is required.</li>
                          <li *ngIf="iwo.errors?.orderIWOExists" class="text-danger" role="alert">IWO is already taken.</li>
                        </ul>
                      </div>
                    </div>
  
                    <!-- status -->
                    <div class="col-md-6 form-group mb-50" [class.error]="(submitted || status.dirty) && status.errors">
                      <label class="text-bold-600" for="status">Status</label>
                      <select class="form-control" 
                        #status="ngModel" 
                        [(ngModel)]="orderVm.status"
                        id="status" name="status"
                        required>
                        <option value="in progress">In Progress</option>
                        <option value="completed">Completed</option>
                      </select>
                      <div *ngIf="submitted || status.dirty" class="help-block">
                        <ul role="alert">
                          <li *ngIf="status.errors?.required" class="text-danger" role="alert">Status is required.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  
                  <div class="row">
                    <!-- company -->
                    <div class="col-md-6 form-group mb-50" [class.error]="(submitted || company.dirty) && company.errors">
                      <label class="text-bold-600" for="company">Company</label>
                      <input type="text" class="form-control" 
                        #company="ngModel" 
                        [(ngModel)]="orderVm.company"
                        id="company" name="company" placeholder="Company"
                        required>
                      <div *ngIf="submitted || company.dirty" class="help-block">
                        <ul role="alert">
                          <li *ngIf="company.errors?.required" class="text-danger" role="alert">Company is required.</li>
                        </ul>
                      </div>
                    </div>
  
                    <!-- person_in_charge -->
                    <div class="col-md-6 form-group mb-50" [class.error]="(submitted || pic.dirty) && pic.errors">
                      <label class="text-bold-600" for="pic">Person In Charge</label>
                      <input type="text" class="form-control" 
                        #pic="ngModel" 
                        [(ngModel)]="orderVm.person_in_charge"
                        id="pic" name="pic" placeholder="Person In Charge"
                        required>
                      <div *ngIf="submitted || pic.dirty" class="help-block">
                        <ul role="alert">
                          <li *ngIf="pic.errors?.required" class="text-danger" role="alert">Person in charge is required.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
  
                  <div class="row">
                    <!-- quantity -->
                    <div class="col-md-6 form-group mb-50" [class.error]="(submitted || quantity.dirty) && quantity.errors">
                      <label class="text-bold-600" for="quantity">Quantity</label>
                      <input type="number" class="form-control" 
                        #quantity="ngModel" 
                        [(ngModel)]="orderVm.quantity"
                        id="quantity" name="quantity" placeholder="Quantity"
                        required />

                      <div *ngIf="submitted || quantity.dirty" class="help-block">
                        <ul role="alert">
                          <li *ngIf="quantity.errors?.required" class="text-danger" role="alert">Quantity is required.</li>
                        </ul>
                      </div>
                    </div>
  
                    <!-- delivery date -->
                    <div class="col-md-6 form-group mb-50" [class.error]="(submitted || deliveryDate.dirty) && deliveryDate.errors">
                      <label class="text-bold-600" for="deliveryDate">Delivery Date</label>
                      <shared-datepicker
                        #deliveryDate="ngModel"
                        [(ngModel)]="orderVm.delivery_date"
                        id="deliveryDate" name="deliveryDate"
                        required>
                      </shared-datepicker>
                      <div *ngIf="submitted || deliveryDate.dirty" class="help-block">
                        <ul role="alert">
                          <li *ngIf="deliveryDate.errors?.required" class="text-danger" role="alert">Delivery Date is required.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
  
                  <div class="row">
                    <!-- files -->
                    <div class="col-md-6 form-group mb-50" [class.error]="(submitted || uploadFiles.dirty) && uploadFiles.errors">
                      <label class="text-bold-600" for="uploadFiles">Files</label>
                      <shared-fileinput
                        [(ngModel)]="orderVm.uploadFiles"
                        [files]="orderVm.files"
                        #uploadFiles="ngModel"
                        [multiple]="true"
                        [fileTypes]="['.pdf']"
                        id="uploadFiles" name="uploadFiles"></shared-fileinput>
                      
                      <div *ngIf="submitted || uploadFiles.dirty" class="help-block">
                        <ul role="alert">
                          <li *ngIf="uploadFiles.errors?.fileTypes" class="text-danger" role="alert">Invalid file type.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
  
                  <div class="row">
                    <!-- description -->
                    <div class="col-md-12 form-group mb-50" [class.error]="(submitted || description.dirty) && description.errors">
                      <label class="text-bold-600" for="description">Description</label>
                      <textarea type="text" class="form-control" 
                        #description="ngModel" 
                        [(ngModel)]="orderVm.description"
                        id="description" name="description" placeholder="Description"
                        rows="3"></textarea>
  
                      <div *ngIf="submitted || description.dirty" class="help-block">
                        <ul role="alert">
                          <li *ngIf="description.errors?.required" class="text-danger" role="alert">Description is required.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
  
                  <div class="row">
                    <!-- remarks -->
                    <div class="col-md-12 form-group mb-50" [class.error]="(submitted || remark.dirty) && remark.errors">
                      <label class="text-bold-600" for="remark">Remark</label>
                      <textarea class="form-control" 
                        #remark="ngModel" 
                        [(ngModel)]="orderVm.remark"
                        id="remark" name="remark" rows="3">
                      </textarea>
                    </div>
                  </div>
  
                  <div class="form-actions d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary pull-right">
                      <span *ngIf="isLoading" class="spinner-border spinner-border-sm"></span> Edit
                    </button>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- order logs -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Order Logs</h4>
          </div>
          <div class="card-content">
            <div class="card-body">
              <ul *ngIf="order" class="widget-timeline mb-0">
                <li *ngFor="let orderLog of order.orderLogs" 
                  class="timeline-items timeline-icon-primary active">
                  <div class="timeline-time"><small>{{ orderLog.created_at | date: 'dd/MM/y h:mm a' }}</small></div>
                  <!-- title -->
                  <ng-container *ngIf="orderLog.process">
                    <h6 class="timeline-title">{{ orderLog.process.name }}</h6>
                  </ng-container>
                  <ng-container *ngIf="!orderLog.process">
                    <h6 class="timeline-title">
                      Order 
                      <span class="badge badge-xs"
                        [class.badge-light-success]="orderLog.to_status === 'completed'"
                        [class.badge-light-primary]="orderLog.to_status === 'in progress'">{{ orderLog.to_status | titlecase }}</span>
                    </h6>
                  </ng-container>
                
                  <p class="timeline-text">{{ orderLog.user.name }}</p>
                  <!-- status transition -->
                  <ng-container *ngIf="orderLog.process">
                    <span class="badge badge-xs"
                      [class.badge-light-default]="orderLog.from_status === 'None'"
                      [class.badge-light-warning]="orderLog.from_status === 'Pending'"
                      [class.badge-light-success]="orderLog.from_status === 'Done'"
                      [class.badge-light-danger]="orderLog.from_status === 'Urgent'">{{ orderLog.from_status | titlecase }}</span>
                    <i class="bx bx-right-arrow-circle align-middle"></i>
                    <span class="badge badge-xs"
                      [class.badge-light-default]="orderLog.to_status === 'None'"
                      [class.badge-light-warning]="orderLog.to_status === 'Pending'"
                      [class.badge-light-success]="orderLog.to_status === 'Done'"
                      [class.badge-light-danger]="orderLog.to_status === 'Urgent'">{{ orderLog.to_status | titlecase }}</span>
                  </ng-container>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>