.ag-header-cell-menu-button {
  display: none;
}

.ag-header-cell-label {
  padding: 0 !important;
  justify-content: center;
}

.process-cell {
  border-right: 1px solid lightgray !important;
}

.desc-cell .ag-cell-wrapper {
  width: 100%;
}

/* .process-cell-header {
  transform: rotate(-90deg);
  display: inline-block;
} */