<!-- BEGIN: Main Menu-->
<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true"
  [ngClass]="isHoverOver ? 'expanded' : ''"
  (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">

  <div class="navbar-header"
    [ngClass]="isHoverOver ? 'expanded' : ''">
    <ul class="nav navbar-nav flex-row">
      <li class="nav-item mr-auto">
        <a class="navbar-brand" [routerLink]="['/admin/dashboard']">
          <div class="brand-logo"></div>
          <h2 class="brand-text mb-0">Elite</h2>
        </a>
      </li>
      <li class="nav-item nav-toggle">
        <a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse" (click)="toggleMenu()">
          <i class="bx bx-x d-block d-xl-none font-medium-4 primary"></i>
          <i class="toggle-icon bx font-medium-4 d-none d-xl-block primary"
            [ngClass]="menuIsOpened ? 'bx-disc' : 'bx-circle'"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="shadow-bottom"></div>

  <div class="main-menu-content">
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation"
      data-icon-style="lines">
      <!-- dashboard -->
      <!-- <li class="nav-item">
        <a [routerLink]="['/admin/dashboard']">
          <i class="bx bx-dashboard"></i>
          <span class="menu-title" data-i18n="Dashboard">Dashboard</span>
        </a>
      </li> -->

      <!-- users -->
      <shared-authorized-content 
        [permissions]="['view.users', 'viewAny.users']" 
        [condition]="'or'" 
        [type]="'hide'">
        <li class="nav-item" routerLinkActive="active">
          <a href="#" [routerLink]="['/admin/users']">
            <i class="bx bx-user-circle"></i>
            <span class="menu-title" data-i18n="Users">Users</span>
          </a>
        </li>
      </shared-authorized-content>
      

      <!-- usergroups -->
      <shared-authorized-content 
        [permissions]="['view.usergroups', 'viewAny.usergroups']" 
        [condition]="'or'" 
        [type]="'hide'">
        <li class="nav-item" routerLinkActive="active">
          <a href="#" [routerLink]="['/admin/usergroups']">
            <i class="bx bxs-group"></i>
            <span class="menu-title" data-i18n="User Groups">User Groups</span>
          </a>
        </li>
      </shared-authorized-content>

      <!-- systemsettings -->
      <shared-authorized-content 
        [permissions]="['view.systemsettings', 'viewAny.systemsettings']" 
        [condition]="'or'" 
        [type]="'hide'">
        <li class="nav-item" routerLinkActive="active">
          <a href="#" [routerLink]="['/admin/systemsettings']">
            <i class="bx bx-cog"></i>
            <span class="menu-title" data-i18n="SystemSettings">System Settings</span>
          </a>
        </li>
      </shared-authorized-content>

      <!-- workflows -->
      <shared-authorized-content 
        [permissions]="['view.workflows', 'viewAny.workflows']" 
        [condition]="'or'" 
        [type]="'hide'">
        <li class="nav-item" routerLinkActive="active"> 
          <a href="#" [routerLink]="['/admin/workflows']">
            <i class="bx bx-git-merge"></i>
            <span class="menu-title" data-i18n="Workflows">Workflows</span>
          </a>
        </li>
      </shared-authorized-content>

      <!-- orders -->
      <ng-container *ngFor="let workflow of sideMenuWorkflow$ | async">
        <li class="nav-item" routerLinkActive="active"> 
          <a href="#" [routerLink]="['/admin/orders/', workflow.id]">
            <i class="bx bx-list-check"></i>
            <span class="menu-title">{{ workflow.name }}</span>
          </a>
        </li>
      </ng-container>
      
    </ul>
  </div>
</div>
<!-- END: Main Menu-->